html, body{
    margin 0
    padding 0 
    width 100%
    height 100%
}
body{
    background-image url('../images/beijing.jpg')
    background-size cover
    background-position center
    font 14px 'microsoft yahei'
    color '#4d4d4d'
    font-weight 300
}